version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver2022
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Esteban123
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD-SHELL", "pidof sqlservr || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    volumes:
      - mssql-data:/var/opt/mssql
    restart: unless-stopped

  ticketapi:
    build:
      context: ..
      dockerfile: Ticket.Application/Dockerfile
    container_name: ticket_api
    depends_on:
      sqlserver:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=TicketDB;User Id=sa;Password=Esteban123;TrustServerCertificate=True;
    ports:
      - "5000:80"
    restart: unless-stopped

volumes:
  mssql-data: